$highlightColor: #00f;
$backColor: #ddd;
h3{
  font-family: "Bookman", Georgia, "Times New Roman", serif;
  color: $highlightColor;
}

.wrapper{
  width: 300px;
  margin: 20px auto;
  background-color: $backColor;
}
#sidebarflexone-container{
  width:300px;
  height: 600px;
}